<h1>HTTP List to Table</h1>
<table id="tablecontent" class="rwd-table">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Body</th>
  </tr>
   <!--<tr>
    <td data-th="ID">Star Wars</td>
    <td data-th="Title">Adventure, Sci-fi</td>
    <td data-th="Body">1977</td>
  </tr>
  <tr>
    <td data-th="Movie Title">Howard The Duck</td>
    <td data-th="Genre">"Comedy"</td>
    <td data-th="Year">1986</td>
  </tr>
  <tr>
    <td data-th="Movie Title">American Graffiti</td>
    <td data-th="Genre">Comedy, Drama</td>
    <td data-th="Year">1973</td>
  </tr> -->
</table>